* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */

.header {
    background-image: url("images/index/Intro-index.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.fixed-block {
    position: sticky;
    justify-content: space-between;
    padding-top: 15px;
}
.nav-menu {
    display: flex;
    width: 75px;
    height: 100%;
    cursor: pointer;
    padding-top: 15px;
}
.menu-word {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-right: 2px;
}
.spans {
    margin-top: 2px;
    position: relative;
    width: 18px;
    height: 12px;
}
.nav-menu span {
    height: 1px;
    background-color: #fff;
    position: absolute;
    right: 0;
    left: 0;
    transition: .25s ease-in-out;
}
.nav-menu span:first-child {
    top: 0;
}
.nav-menu span:nth-child(2) {
    top: 5px;
}
.nav-menu span:last-child {
    top: 10px;
}
.menu {
    background-color: rgba(36, 47, 53, 0.9);
    position: absolute;
    top: 45px;
    right: 0;
}
.menu a {
    color: #fff;
    font-size: 21px;
    padding: 20px 50px;
}
.menu a:hover {
    background-color: rgba(36, 47, 53, 0.7);
}
.hidden-menu {
    opacity: 0;
    visibility: hidden;
}
.header-title {
    justify-content: center;
}
.header-h1 {
    margin-top: 150px;
    font-weight: 300;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
}
.header-h1 span {
    font-style: italic;
}
@media (max-width: 767px) {
    .header {
        background-image: url("images/index/Intro\ index-mobile.png");
        height: 450px;
    }
    .fixed-block {
        background-color: rgba(36, 47, 53, 0.7);
        padding-right: 0;
        padding-top: 0;
    }
    .navigation {
        background-color: rgba(36, 47, 53, 0.9);
        position: relative;
    }
    .nav-menu {
        width: 45px;
        justify-content: center;
    }
    .menu-word {
        display: none;
    }
    .header-h1 {
        font-size: 40px;
        line-height: 48px;
    }
}

/* Main */
/* About us */

.main-block {
    flex-direction: column;
    text-align: center;
    align-items: center;
    display: flex;
}
.main-row {
    justify-content: center;
}
.small-title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #d4af37;
    margin-top: 80px;
    margin-bottom: 20px;
}
.large-title {
    text-transform: capitalize;
    font-size: 45px;
    font-weight: 600;
    color: #021725;
    margin-bottom: 55px;
}
.text {
    line-height: 30px;
    font-size: 18px;
    color: #021725;
    font-weight: 300;
    margin-bottom: 45px;
}
.read-more {
    font-size: 14px;
    font-weight: 300;
    color: #021725;
    margin-bottom: 80px;
    height: 57px;
    width: 238px;
    padding: 0;
    border: 1px solid black;
    background-color: #fff;
    transition: .50s ease-in-out;
}
.read-more:hover {
    background-color: #d4af37;
    color: white;
    border: none;
    transition: .50s ease-in-out;
}
.show-work {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.show-work div {
    padding: 3px 4px;
    height: 300px;
}
.show-work img {
    width: 100%;
    height: auto;
}
.workers {
    margin-bottom: 60px;
}
.block-worker {
    flex-direction: column;
    margin-bottom: 20px;
}
.text-block {
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    background-color: #f9f9f9;
}
.text-block h4 {
    margin-top: 0;
}
.text-block h3 {
    color: #021725;
    font-size: 21px;
    font-weight: 400;
}
.text-block p {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    margin-top: 36px;
    margin-bottom: 30px;
}